*{
    font-size:16px;
    font-family:helvetica;
    font-weight:bold;
    color:#000000;
}
body{
    background-color: whitesmoke;
}
#titulo{
    font-size:40px;
    font-family:helvetica;
    font-weight:bold;
    color:#000000;
    text-align: center;
}

.boton{
    margin-left: 200px;
    width: 150px;
    height: 30px;
    background-color: rgb(0, 89, 255);
    color: white;
}
.boton:hover{
    background-color: white ;
    color: rgb(0, 89, 255);
}